@import 'node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');


$r_blue: #19458d;
$r_blue_darker: #113368;
$r_yellow: #efaa1e;

body {
    font-family: Lato, sans-serif;
    position: relative;
    color: #000;
}

body,
html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px;
}

@media (min-width:768px) {
    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 0 35px;
    }
}


a {
    transition: all .2s ease-in-out;
    color: $r_yellow;


    &:hover,
    &:focus {
        text-decoration: none;
        color: $r_blue;
    }

}



#mainNav {
    margin-bottom: 0;
    text-transform: uppercase;
    background-color: #fff;



    .nav-link.active {
        outline: none;
        background-color: rgba($color:$r_yellow, $alpha: 0.4);

        &:hover {
            background-color: rgba($color:$r_yellow, $alpha: 0.4);
        }

    }

    .nav-link {

        a {
            &:hover {
                background-color: rgba($color:$r_yellow, $alpha: 0.2);
                ;
            }
        }

    }



    .navbar-toggler {
        font-size: 14px;
        padding: 11px;
        color: #fff;
        border: 1px solid #fff;
    }

    .navbar-brand {
        font-weight: 700;
        font-family: 'Kaushan Script', cursive;
    }

    a {
        color: #fff;




        img {
            width: 2em;
            height: 2em;
        }
    }


    .navbar-nav {


        .nav-item {
            transition: background .3s ease-in-out;


            &:active,
            &:focus,
            &:hover {
                outline: none;
            }
        }
    }
}


.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: #fff;
    background-color: #000;
    background-size: cover;


    .intro-body {
        display: table-cell;
        vertical-align: middle;


        .brand-heading {
            font-family: 'Kaushan Script', cursive;
        }

        .intro-text {
            font-family: Lato;
        }

    }
}






@media (min-width:992px) {
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
        letter-spacing: 1px;
        background: transparent;

    }
}

#mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-bottom: 1px #19458d2d solid;

    a {
        color: $r_blue;
    }
}

#mainNav.page-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-bottom: 1px #19458d2d solid;

    a {
        color: $r_blue;
    }
}

a.bt-home-a {
    color: #fff;
    font-size: .8rem;
}

.bt-home {
    border-color: #fff;
}


@media (min-width:768px) {

    .masthead {
        height: 100%;
        padding: 0;


        .intro-body {


            .brand-heading {
                font-size: 50px;
            }

            .intro-text {
                font-size: 22px;
            }

        }
    }

    a.bt-home-a {
        font-size: 1rem;
    }

}

.content-section {
    padding-top: 150px;
    padding-bottom: 150px
}

.offer-section {
    color: #000;
    background-color: rgba($color:$r_blue, $alpha: 0.1);
    background-size: cover;
}

#map {
    width: 100%;
    height: 300px
}

@media (min-width:992px) {
    .content-section {
        padding-top: 200px;
        padding-bottom: 200px
    }

    #map {
        height: 350px
    }

    .masthead {
        height: 100%;
        padding: 0;


        .intro-body {


            .brand-heading {
                font-size: 100px;
            }

            .intro-text {
                font-size: 24px;
            }

        }
    }

    // home btn

    a.bt-home-a {
        font-size: 1.2rem;
    }


}


footer {
    padding: 50px 0;
    background-color: $r_blue;
    color: #fff;

    p {
        font-size: 14px;
        margin: 0;
    }
}






@media (max-width:992px) {
    #mainNav {
        a {
            color: $r_blue;
        }

        .fa-bars {
            color: $r_blue;
        }
    }
}


// Page 404
section.p404 {
    background-color: $r_blue;
    color: #fff;
}

//page

.main-container {
    margin-top: 80px;
    padding-top: 2rem;
}



//widget

.widget {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    h4 {
        font-size: 1.15rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }


    .cat-item {
        font-size: 1.1rem;
        background-color: #aabad5;
        padding: .3rem;
        margin-bottom: 3px;
        border-radius: 3px;
        text-align: center;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $r_blue;
        }

        a {
            color: #fff;

            &:hover {
                color: #fff;
            }

        }
    }

    .current-cat {
        background-color: $r_blue;
    }

}


//woocommerce

.woocommerce {

    .woocommerce-input-wrapper {
        width: 100%;
        display: block;
    }

}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    padding: 0.4rem;
    background: rgba(25, 69, 141, 0.08);
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0px rgb(25, 69, 141);

    &:focus {
        border: 1px solid #19458d;
        box-shadow: none;
    }

}


.woocommerce ul.products li.product {
    text-align: center;
}



.woocommerce span.onsale {
    background-color: $r_yellow;
    border-radius: 0;
    transform: skew(-20deg);
}

.woocommerce ul.products li.product .price {
    font-size: 1.1em;
}

ul.products li.product .woocommerce-loop-product__title {
    font-size: 1.2em;
}


.woocommerce .woocommerce-ordering select {
    border: none;
    padding: .25rem;
    color: #fff;
    background-color: #19458d;
}









// 2204
//fix kod kuponu
.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: auto;
}



//koszyk buttony
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $r_blue;
    color: #fff;

    &:hover {
        color: #f0f0f0;
        background-color: $r_blue_darker;
    }
}



// okno z cyfra
.woocommerce .quantity .qty {
    padding: .35em;
}


// produkt strzałki
.wpgs-for .slick-arrow,
.wpgs-nav .slick-prev::before,
.wpgs-nav .slick-next::before {
    color: #f0f0f0;
}


//wiadomosc top
.woocommerce-message {
    border-top-color: $r_blue;
}


//filtr ceny
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: $r_blue;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #19458d5e;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: $r_blue;
}



//wyszukiwarka
.woocommerce-product-search {

    input#woocommerce-product-search-field-0 {
        outline-offset: -2px;
        -webkit-appearance: none;
        width: 60%;
        margin: 0;
        padding: 2%;
        border: none;
        background-color: #19458d5e;
        color: #fff;
        border-radius: 3px;

        &::placeholder {
            color: #fff;
        }

    }

    button:not(:disabled),
    [type="button"]:not(:disabled),
    [type="reset"]:not(:disabled),
    [type="submit"]:not(:disabled) {
        cursor: pointer;
        width: 36%;
        padding: 2%;
        margin: 0;
        border: none;
        border-radius: 3px;


        background-color: $r_blue;
        color: #fff;

        &:hover {
            color: #f0f0f0;
            background-color: $r_blue_darker;
        }


    }


}

input#woocommerce-product-search-field-0 {
    outline-offset: -2px;
    -webkit-appearance: none;
    width: 60%;
    margin: 0;
    padding: 2%;
    border: none;
    background-color: #19458d5e;
    color: #fff;
    border-radius: 3px;

    &::placeholder {
        color: #fff;
    }
}





//widget ost przyciski   wKOSZYK
a.button.wc-forward {
    width: 48%;
    padding: 4% 2%;
    font-size: 1rem;
    text-align: center;
}

p.woocommerce-mini-cart__total.total {
    margin: 0;
}


// środkowanie gwiazdek
ul.products li.product .star-rating {
    margin: .4rem auto;
}