@import 'node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');


@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&display=swap');

$r_blue: #19458d;
$r_blue_darker: #113368;
$r_blue_light: #aabad5;
$r_yellow: #efaa1e;
$r_yellow_darker: #c08715;

body {
    font-family: Lato, sans-serif;
    position: relative;
    color: #000;
}

//body,
//html {
//   width: 100%;
//   height: 100%;
//}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    //text-transform: uppercase;
}

h1 {
    margin-bottom: 30px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    //margin: 0 0 25px;
}

.main-container {
    min-height: 70vh;
    //80
}

@media (min-width:768px) {
    p {
        font-size: 18px;
        line-height: 1.6;
        //margin: 0 0 35px;
    }
}


a {
    transition: all .2s ease-in-out;
    color: $r_yellow;


    &:hover,
    &:focus {
        text-decoration: none;
        color: $r_yellow_darker;
    }

}



#mainNav {
    margin-bottom: 0;
    text-transform: uppercase;
    background-color: #fff;



    .nav-link.active {
        outline: none;
        background-color: rgba($color:$r_yellow, $alpha: 0.4);

        &:hover {
            background-color: rgba($color:$r_yellow, $alpha: 0.4);
        }

    }

    .nav-link {

        a {
            &:hover {
                background-color: rgba($color:$r_yellow, $alpha: 0.2);
                ;
            }
        }

    }



    .navbar-toggler {
        font-size: 14px;
        padding: 11px;
        color: #fff;
        border: 1px solid #fff;
    }

    .navbar-brand {
        font-weight: 700;
        font-family: 'Kaushan Script', cursive;
    }

    a {
        color: #fff;




        img {
            width: 2em;
            height: 2em;
        }
    }


    .navbar-nav {


        .nav-item {
            transition: background .3s ease-in-out;


            &:active,
            &:focus,
            &:hover {
                outline: none;
            }
        }
    }
}


.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: #fff;
    background-color: #000;
    background-size: cover;


    .intro-body {
        display: table-cell;
        vertical-align: middle;


        .brand-heading {
            font-family: 'Kaushan Script', cursive;
        }

        .intro-text {
            font-family: Lato;
        }

    }
}






@media (min-width:992px) {
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
        letter-spacing: 1px;
        background: transparent;

    }
}

#mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-bottom: 1px #19458d2d solid;

    a {
        color: $r_blue;
    }
}

#mainNav.page-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-bottom: 1px #19458d2d solid;

    a {
        color: $r_blue;
    }
}

a.bt-home-a {
    color: #fff;
    font-size: .8rem;
}

.bt-home {
    border-color: #fff;
}


@media (min-width:768px) {

    .masthead {
        height: 100vh;
        padding: 0;


        .intro-body {


            .brand-heading {
                font-size: 50px;
            }

            .intro-text {
                font-size: 22px;
            }

        }
    }

    a.bt-home-a {
        font-size: 1rem;
    }

}

.content-section {
    padding-top: 150px;
    padding-bottom: 150px
}

.offer-section {
    color: #000;
    background-color: rgba($color:$r_blue, $alpha: 0.1);
    background-size: cover;
}

#map {
    width: 100%;
    height: 300px
}

@media (min-width:992px) {
    .content-section {
        padding-top: 200px;
        padding-bottom: 200px
    }

    #map {
        height: 350px
    }

    .masthead {
        height: 100vh;
        padding: 0;


        .intro-body {


            .brand-heading {
                font-size: 100px;
            }

            .intro-text {
                font-size: 24px;
            }

        }
    }

    // home btn

    a.bt-home-a {
        font-size: 1.2rem;
    }


}


footer {
    padding: 50px 0;
    background-color: $r_blue;
    color: #fff;

    p {
        font-size: 14px;
        margin: 0;
    }
}






@media (max-width:992px) {
    #mainNav {
        a {
            color: $r_blue;
        }

        .fa-bars {
            color: $r_blue;
        }
    }
}


// Page 404
section.p404 {
    background-color: $r_blue;
    color: #fff;
}

//page

.main-container {
    margin-top: 80px;
    padding-top: 2rem;
}



//widget

.widget {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    h4 {
        font-size: 1.15rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }


    .cat-item {
        display: flex;
        flex-direction: column;

        a {
            color: #fff;
            font-size: 1.1rem;
            background-color: $r_blue_light;
            padding: .3rem;
            margin-bottom: 3px;
            border-radius: 3px;
            text-align: center;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: $r_blue;
                color: #fff;
            }

        }
    }

    .current-cat {
        a {
            background-color: $r_blue;
        }
    }

}

#all_products {
    display: flex;
    flex-direction: column;

    a {
        background-color: $r_blue;
        color: #fff;
        font-size: 1.1rem;
        padding: .3rem;
        border-radius: 3px;
        text-align: center;

        &:hover {
            background-color: $r_blue_darker;
            color: #fff;
        }
    }

}

//woocommerce

.woocommerce {

    .woocommerce-input-wrapper {
        width: 100%;
        display: block;
    }

}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    padding: 0.4rem;
    background: rgba(25, 69, 141, 0.08);
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgb(25, 69, 141);

    &:focus {
        border: 1px solid #19458d;
        box-shadow: none;
    }

}


.woocommerce ul.products li.product {
    text-align: center;
}



.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale {
    top: 0;
    right: auto;
    background-color: #efaa1e;
    left: 0;
    border-radius: 0 0 10px 0;
    margin: 0;
    min-height: 1px;
    padding: 5px 3px;
    line-height: unset;
}


.woocommerce ul.products li.product .price {
    font-size: 1.1em;
    font-weight: 700;
}

ul.products li.product .woocommerce-loop-product__title {
    font-size: 1.2em;
}


.woocommerce .woocommerce-ordering select {
    border: none;
    padding: .25rem;
    color: #fff;
    background-color: #19458d;
}









// 2204
//fix kod kuponu
.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: auto;
}

.button {
    transition: linear 0.3s;
}

//koszyk buttony
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $r_blue;
    color: #fff;

    &:hover {
        color: #f0f0f0;
        background-color: $r_blue_darker;
    }
}

@media (max-width:992px) {

    .woocommerce #respond input#submit,
    .woocommerce a.button,
    .woocommerce button.button,
    .woocommerce input.button,
    .woocommerce a.button.alt,
    .woocommerce button.button.alt,
    .woocommerce input.button.alt {
        font-size: 0.9em;
    }
}


// okno z cyfra
.woocommerce .quantity .qty {
    padding: .35em;
}


// produkt strzałki
.wpgs-for .slick-arrow,
.wpgs-nav .slick-prev::before,
.wpgs-nav .slick-next::before {
    color: #f0f0f0;
}


//wiadomosc top
.woocommerce-message {
    border-top-color: $r_blue;
}


//filtr ceny
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: $r_blue;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #19458d5e;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: $r_blue;
}



//wyszukiwarka
.woocommerce-product-search {

    input#woocommerce-product-search-field-0 {
        outline-offset: -2px;
        -webkit-appearance: none;
        width: 60%;
        margin: 0;
        padding: 2%;
        border: none;
        background-color: #19458d5e;
        color: #fff;
        border-radius: 3px;

        &::placeholder {
            color: #fff;
        }

    }

    button:not(:disabled),
    [type="button"]:not(:disabled),
    [type="reset"]:not(:disabled),
    [type="submit"]:not(:disabled) {
        cursor: pointer;
        width: 36%;
        padding: 2%;
        margin: 0;
        border: none;
        border-radius: 3px;


        background-color: $r_blue;
        color: #fff;

        &:hover {
            color: #f0f0f0;
            background-color: $r_blue_darker;
        }


    }


}

input#woocommerce-product-search-field-0 {
    outline-offset: -2px;
    -webkit-appearance: none;
    width: 60%;
    margin: 0;
    padding: 2%;
    border: none;
    background-color: #19458d5e;
    color: #fff;
    border-radius: 3px;

    &::placeholder {
        color: #fff;
    }
}





//widget ost przyciski   wKOSZYK
a.button.wc-forward {
    padding: 10px 5px;
    font-size: 1rem;
    text-align: center;
}

p.woocommerce-mini-cart__buttons.buttons {
    display: flex;
}

p.woocommerce-mini-cart__total.total {
    margin: 0;
}

.coupon {
    .button {
        height: 35px;
    }

    .input-text {
        width: auto;
        height: 35px;
        border: none;
        border-radius: 3px;
        background: $r_blue_light;
        color: #fff;
        text-align: center;

        &::placeholder {
            color: #fff;
            text-align: center;
        }

    }

}



// środkowanie gwiazdek
ul.products li.product .star-rating {
    margin: .4rem auto;
}


.woocommerce .star-rating span {
    color: gold;
}




//Strona produktu

.woocommerce div.product form.cart .button {
    vertical-align: middle;
    height: 50px;
    width: 100%;
}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.woocommerce .quantity .qty {
    padding: 0;
    margin: 0;
    height: 50px;
    border: none;
    background-color: #19458d0d;
}

.woocommerce div.product form.cart div.quantity {
    float: none;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.woocommerce div.product .product_title {
    color: $r_blue;
    text-transform: none;
}

.woocommerce div.product p.price {
    color: $r_yellow;
    font-size: 1.7em;
}

//SP Opis dol
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none;
    background-color: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    content: none;
}



.tabs.wc-tabs {
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    font-size: 14px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom: 3px solid $r_blue;
}

.woocommerce-product-details__short-description,
.woocommerce div.product .woocommerce-tabs .panel {
    font-weight: 300;
}


//Quest



.nav__top__user {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    cursor: default;
    margin: 0;
    padding: 0;

    &:hover {
        .nav__top__user_bottom {
            display: block;
        }

    }

    .nav__top__user_msg {
        text-align: center;
        font-size: 1rem;
        color: $r_blue;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }

    .msg1 {
        text-transform: none;
        font-size: 1rem;
    }

    .msg2 {
        border-bottom: 1px solid $r_blue_light;
        text-transform: none;
    }

    .nav__top__user_bottom {
        z-index: 999;
        display: none;
        position: absolute;
        width: 150px;
        top: 100%;
        left: 0;
        background-color: #fff;
        border-radius: 0.2rem;
        padding: 5px;
        box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.1);

        &:hover {
            display: block;
        }

        .btn-nav-login,
        .btn-nav-register {
            font-size: 0.7rem;
            margin: 5px 0;
            padding-top: 2px;
            color: #fff !important;
            background-color: $r_blue;
            width: 100%;
        }

        .btn-nav-login-yellow {
            background-color: $r_yellow;
        }

    }



}


// Logowanie i rejestracja /moje-konto/

span.password-input {
    width: 100%;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
    margin-right: 10px;
}

// Przycisk login na 100%
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
    width: 100%;
}

button.woocommerce-Button.woocommerce-button.button.woocommerce-form-register__submit {
    width: 100%;
}

.woocommerce form .form-row {
    padding: 3px;
    margin: 0 0 6px;
}

//Strona produktu
.slick-list.draggable {
    max-height: 440px;
}

.product_meta {
    display: flex;
    flex-direction: column;
}

a.added_to_cart.wc-forward {
    display: none;
}

//Warianty produktu-------------------------------

.woocommerce div.product form.cart .variations select {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #19458d0d;
    text-align: center;
}

.single_variation_wrap {
    width: 100%;
    position: relative;
    margin-top: 4px;
}

form.variations_form.cart {
    margin-top: 50px;
}

.woocommerce-variation.single_variation {
    top: 16px;
    left: 200px;
    position: absolute;
    padding: 0;
    margin: 0;
}

.variations {
    tbody {
        tr {
            td.label {
                padding-top: 14px;
            }
        }
    }
}



// end warianty ---------------------------

.masthead .intro-body .brand-heading {
    font-family: "Kaushan Script", cursive;
    font-weight: 300;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    min-height: 55px;
}

//.woocommerce ul.products li.product .star-rating {
//    font-size: .857em;
//    position: absolute;
//    top: 275px;
//    left: 54px;
//}

//DO MERGE

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    min-height: 38px;
    padding: 0;
}

.woocommerce ul.products li.product .price {
    margin-bottom: 0;
}

.woocommerce ul.products li.product .button {
    margin-top: 0;
}


.woocommerce ul.products li.product {
    text-align: center;
    display: flex;
    min-height: 330px;
    flex-direction: column;
    justify-content: space-between;
}

//END MERGE --------------------------------------------


//Arrow-left
.arrow {
    display: block;
    background-color: $r_blue;
    width: 200px;
    padding: 5px;
    position: relative;
    top: -17px;
    color: #fff;
    text-align: right;
    font-weight: bold;
    border-radius: 3px;
    padding-right: 10px;
    transition: linear 0.3s;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 0px;
        border-top: 17px solid #fff;
        border-bottom: 17px solid #fff;
        border-right: 34px solid transparent;
    }

    &:hover {
        background-color: $r_blue_darker;
        color: #fff;
    }

}


//warianty cd

.woocommerce div.product form.cart div.quantity::before {
    content: "Wprowadź ilość:";
    font-weight: bold;
    width: 130px;
    padding-top: 15px;
}

td.label {
    width: 80px;
}


//homepage
li {
    font-size: 18px;
}